@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');



body{
    margin-bottom: 1%;
    background-image: url(./bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1, h2 {
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
}

h2{
    margin-bottom: 1rem !important;
}

.solution-row {
    font-family: monospace;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}
.solution-row > .queen {
    background-image: url(./queen.png);
    color: transparent;
    background-position: center;
    background-size: cover;
    width: 4.2rem;
}

.dot{
    padding: 2rem !important;
}

/* Agregar estilos para el tablero de ajedrez */
.solution-row:nth-child(2n) .dot:nth-child(2n) {
    background-color: rgb(0, 16, 31);
    border: solid 2px black;

}

.solution-row:nth-child(2n) .dot:nth-child(2n+1) {
    border: solid 2px rgb(255, 255, 255);
    background-color: rgb(234, 255, 255);
}

.solution-row:nth-child(2n+1) .dot:nth-child(2n) {
    border: solid 2px rgb(255, 255, 255);
    background-color: rgb(234, 255, 255);


}

.solution-row:nth-child(2n+1) .dot:nth-child(2n+1) {
    background-color: rgb(0, 16, 31);
    border: solid 2px black;


}




@media (max-width: 560px) {
    .solution-row .queen {
        background-image: url(./star.svg);
        color: transparent;
        background-position: center;
        background-size: cover;
        padding: .0rem .7rem;
        border: solid 2px black;
    }
    .solution-row .dot {
        
        border: solid 2px black;
        padding: .2rem 1.3rem;
    }    
    

}